.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

h4 {
  text-align: left
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.maritalStatus {
  display: inline-flex;
  width: 900px;
}
.primary {
  width: 400px;
}

label {
  color: blue;
  width: 180px;
  display: inline-block;
  text-align:left
}

input {
  width: 180px
}

.primary {
  float:left
}

.spouse {
  float:right
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
